.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('mast.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
/* Hover over */
  .img__wrap {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: block;
  }
  .myImg{
    width: 150px;
    height: 150px;
  }
  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(231, 151, 59);
    color: #fff;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    opacity: 0;
  
  
    transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);

  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }
  
  .myA {
    text-align: center;
    font-size: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  color: white;
  }
  .myA2{
    text-align: justify;
    font-size: 15px;
    display: inline-block;
    
  }
  
/* Hover over */
/*Socal media icons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border: 3px blueviolet;
  background-color: rgb(231, 151, 59);
  color: rgb(174, 85, 209);
  font-size: 20px;
}