body{
	background-color:black;
}
.box {
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: center;
    
}
.box-master {
    padding-top: 180px;
    padding-bottom: 380px;
    height: 100vh;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: auto;
}