body{
	background-color:black;
}
.box {
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    text-align: center;
    
}
.box-master {
    padding-top: 180px;
    padding-bottom: 380px;
    height: 100vh;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

h1,
h2,
h3 {
  color: white;
}

p,
li {
  color: blanchedalmond;
}

body,
html {
  height: 100%;
}

.parallax {
  background-image: url('Background.png');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(231, 151, 59);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .6s ease;
  border-radius: 25px;
  opacity: 90%;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.myA {
  color: black;
  text-decoration: none;
  border: 2px solid rgb(111, 98, 122);
  background-color: cornsilk;
  border-radius: 25px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

}

.myImg {
  width: fit-content;
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.masthead {
height: 100vh;
min-height: 500px;
background-image: url('Top.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}